{% extends 'base.html' %}

{% block content %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Chat</li>
		</ol>
	</nav>

	<p class="section-intro">Welcome, {{ user }}. Dive right into your favourite channel:</p>

	<ul class="rooms">
        {% for room in rooms %}
            <a href="{% url 'room' room.id %}"><li id="room-name-input" class="room-link" data-room-id="{{ room.id }}">{{ room }}</li></a>
        {% empty %}
            <p class="empty">No chat rooms defined. Maybe make some in the <a href="{% url 'admin:index' %}">admin</a>?</p>
        {% endfor %}
    </ul>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };
    </script>

{% endblock %}
