{% extends 'base.html' %}

{% block content %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Chat</li>
		</ol>
	</nav>

	<p class="section-intro">Welcome, {{ user }}. Dive right into your favourite channel:</p>

	<div class="row">
		{% for room in rooms %}
		<div class="col-xs-12 col-md-6 col-lg-3">
			<a id="product-card" href="{% url 'room' room.id %}">
				<div class="panel-body card text-center">
		            <div class="category-img" style="background-image: url('{{ MEDIA_URL }}{{ room.image.url }}')" alt="Chat room category image"></div>
		            <h3>{{ room.title }}</h3>
		        </div>
	        </a>
		</div>
		{% endfor %}
	</div>

{% endblock %}
