{% extends 'base.html' %}

{% block content %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'chat' %}">Chat Lobby</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ room.title }} Chat</li>
		</ol>
	</nav>

    <div class="panel-body card text-center">
        <div class="product-img" style="background-image: url('{{ MEDIA_URL }}{{ room.image.url }}')"></div>
    </div>

    <div class="chat-container text-center">
        <div class="form-group">
            <textarea id="chat-log" class="form-group"></textarea>
        </div>
        <div class="form-group">
            <input id="chat-message-input" class="form-group" type="text" placeholder="What's on your mind?">
        </div>
        <div class="form-group">
            <button id="chat-message-submit" class="btn">Send</button>
        </div>
    </div>
    
    {{ room.title|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>

{% endblock %}
