{% extends 'base.html' %}

{% block content %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Basket</li>
		</ol>
	</nav>

{% if basket_items %}
	<h2 class="account-heading text-center">Basket Subtotal: £{{ sub_total }}</h2>
	<div class="form-group text-center">
		<a href="{% url 'checkout' %}">
			<button class="btn checkout-button"><i class="fa fa-credit-card" aria-hidden="true"></i> GO TO CHECKOUT</button>
		</a>
	</div>

	<div class="content-section">
		<div class="row">
			<div class="table-responsive basket-info">
				<table class="table table-sm table-borderless">
					<thead class=text-black>
						<tr>
							<th scope="col">Details:</th>
							<th class="d-none d-sm-table-cell" scope="col"></th>
							<th scope="col">Price:</th>
							<th scope="col">Qty:</th>
							<th scope="col">Total:</th>
						</tr>
					</thead>

					{% for item in basket_items %}
						<tr>
							{% if item.basket_obj.artist %}
								<td class="p-2 w-25 d-none d-sm-table-cell">
									<a href="{% url 'show-details' item.basket_obj.artist.id %}">
										<img class="img-fluid" src="{{ item.basket_obj.artist.artist_image.url }}">
									</a>
								</td>
								<td class="py-3 w-25">
									<p class="my-0">Show Ticket for: 
										<a href="{% url 'show-details' item.basket_obj.artist.id %}">
											{{ item.basket_obj.artist }}
										</a>
									</p>
								</td>
							{% else %}
								<td class="p-2 w-25 d-none d-sm-table-cell">
									<a href="{% url 'product-detail' item.basket_obj.id %}">
										<img class="img-fluid" src="{{ item.basket_obj.image.url }}">
									</a>
								</td>
								<td class="py-3 w-25">
									<a href="{% url 'product-detail' item.basket_obj.id %}">
										<p class="my-0">{{ item.basket_obj.name }}</p>
									</a>
								</td>
							{% endif %}


							<td class="py-3">
								<p class="my-0">£{{ item.basket_obj.price }}</p>
							</td>
							
							<td class="py-3">
								<form class="form update-form" action="{% url 'update-basket' item.item_id %}" method="POST">
									{% csrf_token %}
									<div id="basket-qty" class="form-group">
										<div class="input-group">
											<div class="input-group-prepend d-none d-md-block">
												<button class="decrement-qty btn btn-sm" 
												data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id  }}">
													<span>
														<i class="fa fa-minus fa-sm" aria-hidden="true"></i>
													</span>
												</button>
											</div>
											<input class="form-control form-control-sm qty_input" type="number"
											name="quantity" value="{{ item.quantity }}" min="1" max="99"
											data-item_id="{{ item.item_id }}"
											id="id_qty_{{ item.item_id }}">
											<div class="input-group-append d-none d-md-block">
												<button class="increment-qty btn btn-sm"
												data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
													<span>
														<i class="fa fa-plus fa-sm" aria-hidden="true"></i>
													</span>
												</button>
											</div>
										</div>
									</div>
								</form>
								<a class="update-link text-info">
									<small class="d-none d-md-inline">Update</small>
									<i class="fa fa-refresh d-md-none" aria-hidden="true"></i>
								</a>
                                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}">
                                	<small class="d-none d-md-inline">Remove</small>
                                	<i class="fa fa-trash d-md-none" aria-hidden="true"></i>
                                </a>
							</td>
							<td class="py-3">
								<p class="my-0">£{{ item.product_total }}</p>
							</td>
						</tr>
					{% endfor %}
				</table>

				<hr>

				<h6 id="delivery-heading">Delivery options available at checkout.*</h6>
				
				<hr>
				<p>*Please note that we offer a fixed delivery fee of £10 to all mainland postcodes only. 
					Unfortunately, we cannot deliver to any other postcodes at this time. If you're unsure, please contact us 
					<a href="{% url 'contact-us' %}">here.</a>
				</p>
				<p>
					If you decide to use our free Click&Collect service, please check out the current locations available 
					<a href="{% url 'click_and_collect' %}">here.</a>
				</p>
			</div>
		</div>
	</div>

	<h2 id="basket-total" class="account-heading text-center">Total (excl. Delivery): £{{ sub_total }}</h2>
	<div class="form-group text-center">
		<a href="{% url 'checkout' %}">
			<button class="btn checkout-button"><i class="fa fa-credit-card" aria-hidden="true"></i> GO TO CHECKOUT</button>
		</a>
		<a href="{% url 'products-home' %}">
			<button class="btn checkout-button"><i class="fa fa-hand-o-left" aria-hidden="true"></i> KEEP SHOPPING</button>
		</a>
	</div>
{% else %}
	<div class="text-center">
		<h2 class="account-heading">Basket is empty.</h2>
		<p><a href="{% url 'products-home' %}"><i class="fa fa-hand-o-left" aria-hidden="true"></i> To all Products</a></p>
	</div>
{% endif %}

{% endblock %}

