body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  z-index: 2;
  position: relative;
}

p {
  padding: 0 0.75rem;
}

hr {
  border-radius: 100%;
}

main {
  flex: 1 0 auto;
  background-color: #f4f4f4;
  margin: 0.25em 0 0.25em 0;
  padding-bottom: 0.75em;
}

section {
  background-color: #f4f4f4;
  margin: 0.25em 0 0.25em 0;
  padding-bottom: 0.75em;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

#site-logo {
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  width: -webkit-fill-available;
  height: 2rem;
  margin: 2px 0px 8px 0;
}

.alert {
  margin-top: 1rem;
}

.container {
  width: 97%;
}

#p-search-button,
#b-search-button,
#f-search-button,
#s-search-button {
  margin-top: 0;
}

#products-special-carousel {
  margin-top: 0.5em;
}

.carousel-inner {
  margin-top: 16px;
  border-radius: 3px;
}

.carousel-img {
  margin-bottom: 1em;
  max-height: 50vh;
}

.carousel-info-header {
  font-size: 1.25em;
  color: #fafafa;
}

.carousel-info-description {
  font-weight: 500;
  font-size: 1.1em;
  color: #E1341E;
  background: rgba(255, 255, 255, 0.5);
}

.specials-text {
  color: red;
  padding-top: 0.5rem;
}

.social-icon {
  color: #444444;
  font-size: 1.5rem;
  padding: 0 1rem 0 1rem;
  transition: color 0.5s ease;
}

.fa-facebook-square:hover {
  color: #3B5998;
}

.fa-twitter-square:hover {
  color: #1DA1F2;
}

.fa-youtube-square:hover {
  color: #E62117;
}

.fa-instagram:hover {
  color: #DD2A7B;
}

.form-inline .form-control {
  width: 100%;
}

#top-container {
  background-color: #f4f4f4;
  padding: 0.75em 0 0.75em 0;
}

.top-container-icon {
  vertical-align: -webkit-baseline-middle;
  display: inline;
  text-align: center;
  color: #333333;
  transition: color 0.5s ease;
  font-size: 1.25rem;
  padding: 2px;
}

input[type=search]::-webkit-input-placeholder {
  font-size: 0.75rem;
}

.form-control {
  z-index: 1;
}

.navbar-brand {
  font-size: 1rem;
}

.nav-item {
  color: #E1F4F3;
}

.nav-link {
  display: inline;
  padding: 0;
  border-radius: 3px;
  transition: background-color 0.35s ease-out;
}

.nav-link:hover {
  background-color: #706C61;
  color: #FFF;
}

.navbar {
  width: 97%;
  margin: auto;
  background-color: #333333;
  padding: 0.75em 0 0.75em 0;
  box-shadow: 2px 2px 16px 20px #333333;
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-toggler-icon i {
  color: #fafafa;
  font-size: 1.75rem;
}

.site-header .navbar-nav .nav-link {
  color: #f4f4f4;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.breadcrumb {
  font-size: 14px;
  padding: 0.75em 0 0.75em 0;
  margin-bottom: 0;
  background-color: #f4f4f4;
}

.section-intro {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content-section {
  background: linear-gradient(rgba(51, 51, 51, 0.1), #fff);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 0.5em;
  box-shadow: 2px 2px #888888;
  transition: box-shadow 0.5s ease;
}

.content-section:hover {
  box-shadow: 4px 4px #888888;
}

.btn {
  margin-top: 1rem;
  width: 100%;
  color: #fafafa;
}

#faq-button {
  background-color: #fafafa;
  border: 1px solid #EEEEEE;
  box-shadow: 2px 2px #888888;
}

#faq-content,
#shows-content,
#shows-detail-content {
  margin-top: 0.5rem;
}

#cc-location {
  padding-top: 8px;
  font-weight: 500;
  display: inline-block;
}

.cc-info,
#cc-phone {
  font-size: 14px;
  margin: 0;
  display: inline-block;
  text-align: center;
}

#cc-phone {
  padding-bottom: 8px;
}

#post-author {
  color: #444444;
  transition: color 0.5s ease;
}

.article-title {
  color: #444444;
  transition: color 0.5s ease;
  font-size: 1.25rem;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

a#product-card {
  color: #444444;
}

.card {
  background: linear-gradient(rgba(51, 51, 51, 0.1), #fff);
  border-radius: 3px;
  box-shadow: 2px 2px #888888;
  transition: box-shadow 0.5s ease;
  margin: 0.5em 0;
}

.card:hover {
  box-shadow: 4px 4px #888888;
}

.product-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: -webkit-fill-available;
  height: 14rem;
  margin: 0.75rem 0.75rem;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.product-price {
  padding: 0.5rem 0;
}

.specials-price {
  padding: 0;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  padding-top: 0.5rem;
  font-size: 1.25rem;
}

.text-secondary {
  font-size: 0.7rem;
}

#map1,
#map2,
#map3,
#map4,
#map5 {
  height: 14rem;
  display: inline-block;
}

footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #333333;
  width: -webkit-fill-available;
  box-shadow: 2px 2px 16px 20px #333333;
}

footer p {
  color: #EEEEEE;
  padding-top: 0.75rem;
}

/***************************************colour schemes (SASS)*/
.default-scheme,
.red-scheme,
.blue-scheme,
.green-scheme,
.pink-scheme,
.purple-scheme,
.yellow-scheme {
  background-repeat: repeat;
  background-size: 250px;
}

.default-scheme {
  background-image: url("/media/bg_images/doodle.jpg");
}
.default-scheme main.container {
  background: linear-gradient(to top, #E1F4F3, #fafafa);
}
.default-scheme .btn {
  background-color: #706C61;
  color: #E1F4F3;
}
.default-scheme .btn:hover {
  background-color: #E1F4F3;
  color: #706C61;
}
.default-scheme #faq-button {
  color: #706C61;
}
.default-scheme hr {
  border: 0.155rem solid #706C61;
}
.default-scheme .navbar-toggler-icon i {
  color: #E1F4F3;
}
.default-scheme .top-container-icon:hover {
  color: #706C61;
}
.default-scheme a.article-title:hover {
  color: #706C61;
}

.red-scheme {
  background-image: url("/media/bg_images/doodle_red.jpg");
}
.red-scheme main.container {
  background: linear-gradient(to top, #ffd9d9, #fafafa);
}
.red-scheme .btn {
  background-color: #E06666;
}
.red-scheme .btn:hover {
  background-color: #333333;
  color: #E06666;
}
.red-scheme #faq-button {
  color: #E06666;
}
.red-scheme hr {
  border: 0.155rem solid #E06666;
}
.red-scheme .navbar-toggler-icon i {
  color: #E06666;
}
.red-scheme .top-container-icon:hover {
  color: #E06666;
}
.red-scheme a.article-title:hover {
  color: #E06666;
}

.blue-scheme {
  background-image: url("/media/bg_images/doodle_blue.jpg");
}
.blue-scheme main.container {
  background: linear-gradient(to top, #def0ff, #fafafa);
}
.blue-scheme .btn {
  background-color: #4682B4;
}
.blue-scheme .btn:hover {
  background-color: #333333;
  color: #4682B4;
}
.blue-scheme #faq-button {
  color: #4682B4;
}
.blue-scheme hr {
  border: 0.155rem solid #4682B4;
}
.blue-scheme .navbar-toggler-icon i {
  color: #4682B4;
}
.blue-scheme .top-container-icon:hover {
  color: #4682B4;
}
.blue-scheme a.article-title:hover {
  color: #4682B4;
}

.green-scheme {
  background-image: url("/media/bg_images/doodle_green.jpg");
}
.green-scheme main.container {
  background: linear-gradient(to top, #d6ffe4, #fafafa);
}
.green-scheme .btn {
  background-color: #50C878;
}
.green-scheme .btn:hover {
  background-color: #333333;
  color: #50C878;
}
.green-scheme #faq-button {
  color: #50C878;
}
.green-scheme hr {
  border: 0.155rem solid #50C878;
}
.green-scheme .navbar-toggler-icon i {
  color: #50C878;
}
.green-scheme .top-container-icon:hover {
  color: #50C878;
}
.green-scheme a.article-title:hover {
  color: #50C878;
}

.pink-scheme {
  background-image: url("/media/bg_images/doodle_pink.jpg");
}
.pink-scheme main.container {
  background: linear-gradient(to top, #ffdbed, #fafafa);
}
.pink-scheme .btn {
  background-color: #FE5BAC;
}
.pink-scheme .btn:hover {
  background-color: #333333;
  color: #FE5BAC;
}
.pink-scheme #faq-button {
  color: #FE5BAC;
}
.pink-scheme hr {
  border: 0.155rem solid #FE5BAC;
}
.pink-scheme .navbar-toggler-icon i {
  color: #FE5BAC;
}
.pink-scheme .top-container-icon:hover {
  color: #FE5BAC;
}
.pink-scheme a.article-title:hover {
  color: #FE5BAC;
}

.purple-scheme {
  background-image: url("/media/bg_images/doodle_purple.jpg");
}
.purple-scheme main.container {
  background: linear-gradient(to top, #f2e3ff, #fafafa);
}
.purple-scheme .btn {
  background-color: #6F2DA8;
}
.purple-scheme .btn:hover {
  background-color: #333333;
  color: #6F2DA8;
}
.purple-scheme #faq-button {
  color: #6F2DA8;
}
.purple-scheme hr {
  border: 0.155rem solid #6F2DA8;
}
.purple-scheme .navbar-toggler-icon i {
  color: #6F2DA8;
}
.purple-scheme .top-container-icon:hover {
  color: #6F2DA8;
}
.purple-scheme a.article-title:hover {
  color: #6F2DA8;
}

.yellow-scheme {
  background-image: url("/media/bg_images/doodle_yellow.jpg");
}
.yellow-scheme main.container {
  background: linear-gradient(to top, #fcffde, #fafafa);
}
.yellow-scheme .btn {
  background-color: #f3ff6e;
  color: #333333;
}
.yellow-scheme .btn:hover {
  background-color: #333333;
  color: #f3ff6e;
}
.yellow-scheme #faq-button {
  color: #333333;
}
.yellow-scheme hr {
  border: 0.155rem solid #333333;
}
.yellow-scheme .navbar-toggler-icon i {
  color: #f3ff6e;
}
.yellow-scheme .top-container-icon:hover {
  color: #f3ff6e;
}
.yellow-scheme a.article-title:hover {
  color: #f3ff6e;
}

/***************************************media queries*/
@media (min-width: 576px) {
  .navbar {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .section-intro {
    margin-bottom: 1rem;
  }

  .content-section {
    margin-top: 1em;
  }
}
@media (min-width: 992px) {
  main {
    margin: 0.75em 0 0.75em 0;
  }

  .container {
    width: 100%;
  }

  .social-icon {
    font-size: 2rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  #site-logo {
    background-size: 210px;
    margin: 2px 0px 24px 0;
  }
}
@media (min-width: 1025px) {
  #site-logo {
    background-size: 250px;
    margin: 2px 0px 2rem 0;
  }
}
@media (min-width: 1200px) {
  .nav-link {
    padding: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
