@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap:100,200,300,400,500,600,700,800,900');

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

header,
main,
footer {
  z-index: 2;
  position: relative;
}

p {
  padding: 0 .75rem;
}

hr {
  border-radius: 100%;
}

main {
  flex: 1 0 auto;
  background-color: #f4f4f4;
  margin: .25em 0 .25em 0;
  padding-bottom: .75em;
}

section {
  background-color: #f4f4f4;
  margin: .25em 0 .25em 0;
  padding-bottom: .75em;
}

a {
  overflow-wrap: break-word;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

table p,
table~p {
  padding: 0;
  font-size: .75rem;
}

#site-logo {
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  width: -webkit-fill-available;
  height: 2rem;
  margin: 2px 0px 8px 0;
}

#top-right-icons {
  padding-right: 0;
}

#basket-count {
  vertical-align: text-bottom;
}

#topnav-basket-icon {
  padding-bottom: .5rem;
}

.basket-alert {
  color: red;
}

.alert {
  margin-top: 1rem;
}

.container {
  width: 97%;
}

.topnav-separator {
  font-size: 2rem;
  font-weight: 100;
  vertical-align: middle;
  margin: 0 .5rem;
}

#search-bar {
  z-index: 1;
  top: 2rem;
}

#p-search-button,
#b-search-button,
#f-search-button,
#s-search-button {
  margin-top: 0;
}

#products-special-carousel {
  margin-top: .5em;
}

.carousel-inner {
  margin-top: 16px;
  border-radius: 3px;
}

.carousel-img {
  margin-bottom: 1em;
  max-height: 50vh;
}

.carousel-info-header {
  font-size: 1.25em;
  color: #fafafa;
}

.carousel-info-description {
  font-weight: 500;
  font-size: 1.1em;
  color: #E1341E;
  background: rgba(255, 255, 255, 0.5);
}

.specials-text {
  color: red;
  padding-top: .5rem;
}

.social-icon {
  color: #444444;
  font-size: 1.5rem;
  padding: 0 1rem 0 1rem;
  transition: color 0.5s ease;
}

.fa-facebook-square:hover {
  color: #3B5998;
}

.fa-twitter-square:hover {
  color: #1DA1F2;
}

.fa-youtube-square:hover {
  color: #E62117;
}

.fa-instagram:hover {
  color: #DD2A7B;
}

.form-inline .form-control {
  width: 100%;
}

.form-group {
  font-size: 12px;
}

#top-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: .75em 0 .75em 0;
  margin-bottom: -2rem;
}

.top-container-icon {
  vertical-align: -webkit-baseline-middle;
  display: inline;
  text-align: center;
  color: #333333;
  transition: color .5s ease;
  font-size: .75rem;
  padding: 2px;
}

input[type="search"]::-webkit-input-placeholder {
  font-size: .75rem;
}

.form-control {
  z-index: 1;
}

.navbar-brand {
  font-size: 1rem;
}

.nav-item {
  color: #E1F4F3;
}

.nav-link {
  display: inline;
  padding: 0;
  transition: border .35s ease-in-out;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.active {
  border-top: transparent;
  border-bottom: 2px solid #fafafa;
  border-left: transparent;
  border-right: transparent;
}

.navbar {
  width: 97%;
  margin: auto;
  background-color: #333333;
  padding: .75em 0 .75em 0;
  box-shadow: 2px 2px 16px 20px #333333;
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-toggler-icon i {
  color: #fafafa;
  font-size: 1.75rem;
}

.navbar-nav {
  padding-top: 1rem;
}

.site-header .navbar-nav .nav-link {
  color: #f4f4f4;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.breadcrumb {
  font-size: 10px;
  padding: .75em 0 .75em 0;
  margin-bottom: 0;
  background: transparent;
}

.dropdown {
  position: absolute;
  padding-top: .5rem;
}

.section-intro {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content-section {
  background:
    linear-gradient(
      rgba(51,51,51,0.1), #fff
    );
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: .5em;
  box-shadow: 2px 2px #888888;
  transition: box-shadow .5s ease;
}

.content-section:hover {
  box-shadow: 4px 4px #888888;
}

.btn {
  margin-top: 1rem;
  width: 100%;
  color: #fafafa;
}

#faq-button {
  background: rgba(255,255,255,0);
  box-shadow: 2px 2px #888888;
  margin-top: 0;
}

#shows-content,
#shows-detail-content {
  margin-top: .5rem;
}

#shows-detail-content .product-img {
  height: 8rem;
  margin: .75rem;
}

#product-detail-content .product-img {
  margin: .75rem;
}

.show-highlight {
  padding: .5rem;
}

.show-info {
  text-align: center;
  margin-top: .5rem!important;
  padding-left: 0;
}

.ticket-info {
  width: -webkit-fill-available;
}

#cc-location {
  padding-top: 8px;
  font-weight: 500;
  display: inline-block;
}

.cc-info,
#cc-phone {
  font-size: 14px;
  margin: 0;
  display: inline-block;
  text-align: center;
}

#cc-phone {
  padding-bottom: 8px;
}

#post-author {
  color: #444444;
  transition: color .5s ease;
}

.article-title {
  color: #444444;
  transition: color .5s ease;
  font-size: 1.25rem;
  padding-left: 0.75rem;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

a#product-card {
  color: #444444;
}

.card {
  background:
    linear-gradient(
      rgba(51,51,51,0.1), #fff
    );
  border-radius: 3px;
  box-shadow: 2px 2px #888888;
  transition: box-shadow .5s ease;
  margin: .5em 0;
  overflow: hidden;
}

.card:hover {
  box-shadow: 4px 4px #888888;
}

.img-container {
  margin: .75rem .75rem;
  overflow: hidden;
}

.product-img,
.category-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform .35s ease;
  width: -webkit-fill-available;
  height: 14rem;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.category-img {
  margin: .75rem .75rem;
}

.card:hover .img-container .product-img {
  transform: scale(1.2);
}

.product-name,
.product-price {
  font-size: 1.25rem
}

.specials-price {
  padding: 0;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin: .5rem auto;
}

.top-container-icon .account-img {
  vertical-align: initial;
  height: 35px;
  width: 35px;
}

.account-heading {
  padding-top: .5rem;
  font-size: 1.25rem;
  padding-left: .75rem;
}

.text-secondary {
  font-size: .7rem;
}

.map-container {
  margin: 1.5rem 0 1.5rem 0;
}

#map1,
#map2,
#map3,
#map4,
#map5 {
  height: 14rem;
  display: inline-block;
}

.pagination {
  margin-top: .75rem;
}

footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #333333;
  width: -webkit-fill-available;
  box-shadow: 2px 2px 16px 20px #333333;
}

footer p {
  color: #EEEEEE;
  padding-top: .75rem;
}

/***************************************colour schemes (SASS)*/

.default-scheme,
.red-scheme,
.blue-scheme,
.green-scheme,
.pink-scheme,
.purple-scheme,
.yellow-scheme {
  background-repeat: repeat;
  background-size: 250px;
}

.default-scheme {
  background-image: url("/media/bg_images/doodle.jpg");
  & main.container {
      background:
        linear-gradient(
          to top,
          #E1F4F3,
          #fafafa
        );
    }
  & .topnav-separator {
      color: #706C61;
    }
  & .nav-link:hover {
      border: 3px solid #E1F4F3;
      border-right: transparent;
      border-left: transparent;
    }
  & .btn {
      background-color: #706C61;
      color: #E1F4F3;
    }
  & .btn:hover {
      background-color: #E1F4F3;
      color: #706C61;
    }
  & #faq-button {
      color: #706C61;
    }
  & hr {
      border: 0.155rem solid #706C61;
  }
  & .navbar-toggler-icon i {
      color: #E1F4F3;
    }
  & .top-container-icon:hover {
      color: #706C61;
    }
  & a.article-title:hover {
      color: #706C61;
    }
  & .page-link {
      color: #706C61;
    }
  & .page-item.active .page-link {
      background-color: #706C61;
      border-color: #706C61;
    }
}

.red-scheme {
  background-image: url("/media/bg_images/doodle_red.jpg");
  & main.container {
      background:
        linear-gradient(
          to top,
          #ffd9d9,
          #fafafa
        );
    }
  & .topnav-separator {
      color: #E06666;
    }
  & .nav-link:hover {
      border: 3px solid #E06666;
      border-right: transparent;
      border-left: transparent;
    }
  & .btn {
      background-color: #E06666;
    }
  & .btn:hover {
      background-color: #333333;
      color: #E06666;
    }
  & #faq-button {
      color: #E06666;
    }
  & hr {
      border: 0.155rem solid #E06666;
  }
  & .navbar-toggler-icon i {
      color: #E06666;
    }
  & .top-container-icon:hover {
      color: #E06666;
    }
  & a.article-title:hover {
      color: #E06666;
    }
  & .page-link {
      color: #E06666;
    }
  & .page-item.active .page-link {
      background-color: #E06666;
      border-color: #E06666;
    }
}

.blue-scheme {
  background-image: url("/media/bg_images/doodle_blue.jpg");
  & main.container {
      background:
        linear-gradient(
          to top,
          #def0ff,
          #fafafa
        );
    }
  & .topnav-separator {
      color: #4682B4;
    }
  & .nav-link:hover {
      border: 3px solid #4682B4;
      border-right: transparent;
      border-left: transparent;
    }
  & .btn {
      background-color: #4682B4;
    }
  & .btn:hover {
      background-color: #333333;
      color: #4682B4;
    }
  & #faq-button {
      color: #4682B4;
    }
  & hr {
      border: 0.155rem solid #4682B4;
    }
  & .navbar-toggler-icon i {
      color: #4682B4;
    }
  & .top-container-icon:hover {
      color: #4682B4;
    }
  & a.article-title:hover {
      color: #4682B4;
    }
  & .page-link {
      color: #4682B4;
    }
  & .page-item.active .page-link {
      background-color: #4682B4;
      border-color: #4682B4;
    }
}

.green-scheme {
  background-image: url("/media/bg_images/doodle_green.jpg");
  & main.container {
      background:
        linear-gradient(
          to top,
          #d6ffe4,
          #fafafa
        );
    }
  & .topnav-separator {
      color: #50C878;
    }
  & .nav-link:hover {
      border: 3px solid #50C878;
      border-right: transparent;
      border-left: transparent;
    }
  & .btn {
      background-color: #50C878;
    }
  & .btn:hover {
      background-color: #333333;
      color: #50C878;
    }
  & #faq-button {
      color: #50C878;
    }
  & hr {
      border: 0.155rem solid #50C878;
    }
  & .navbar-toggler-icon i {
      color: #50C878;
    }
  & .top-container-icon:hover {
      color: #50C878;
    }
  & a.article-title:hover {
      color: #50C878;
    }
  & .page-link {
      color: #50C878;
    }
  & .page-item.active .page-link {
      background-color: #50C878;
      border-color: #50C878;
    }
}

.pink-scheme {
  background-image: url("/media/bg_images/doodle_pink.jpg");
  & main.container {
      background:
        linear-gradient(
          to top,
          #ffdbed,
          #fafafa
        );
    }
  & .topnav-separator {
      color: #FE5BAC;
    }
  & .nav-link:hover {
      border: 3px solid #FE5BAC;
      border-right: transparent;
      border-left: transparent;
    }
  & .btn {
      background-color: #FE5BAC;
    }
  & .btn:hover {
      background-color: #333333;
      color: #FE5BAC;
    }
  & #faq-button {
      color: #FE5BAC;
    }
  & hr {
      border: 0.155rem solid #FE5BAC;
    }
  & .navbar-toggler-icon i {
      color: #FE5BAC;
    }
  & .top-container-icon:hover {
      color: #FE5BAC;
    }
  & a.article-title:hover {
      color: #FE5BAC;
    }
  & .page-link {
      color: #FE5BAC;
    }
  & .page-item.active .page-link {
      background-color: #FE5BAC;
      border-color: #FE5BAC;
    }
}

.purple-scheme {
  background-image: url("/media/bg_images/doodle_purple.jpg");
  & main.container {
      background:
        linear-gradient(
          to top,
          #f2e3ff,
          #fafafa
        );
    }
  & .topnav-separator {
      color: #6F2DA8;
    }
  & .nav-link:hover {
      border: 3px solid #6F2DA8;
      border-right: transparent;
      border-left: transparent;
    }
  & .btn {
      background-color: #6F2DA8;
    }
  & .btn:hover {
      background-color: #333333;
      color: #6F2DA8;
    }
  & #faq-button {
      color: #6F2DA8;
    }
  & hr {
      border: 0.155rem solid #6F2DA8;
    }
  & .navbar-toggler-icon i {
      color: #6F2DA8;
    }
  & .top-container-icon:hover {
      color: #6F2DA8;
    }
  & a.article-title:hover {
      color: #6F2DA8;
    }
  & .page-link {
      color: #6F2DA8;
    }
  & .page-item.active .page-link {
      background-color: #6F2DA8;
      border-color: #6F2DA8;
    }
}

.yellow-scheme {
  background-image: url("/media/bg_images/doodle_yellow.jpg");
  & main.container {
      background:
        linear-gradient(
          to top,
          #fcffde,
          #fafafa
        );
    }
  & .topnav-separator {
      color: #333333;
    }
  & .nav-link:hover {
      border: 3px solid #f3ff6e;
      border-right: transparent;
      border-left: transparent;
    }
  & .btn {
      background-color: #f3ff6e;
      color: #333333;
    }
  & .btn:hover {
      background-color: #333333;
      color: #f3ff6e;
    }
  & #faq-button {
      color: #333333;
    }
  & hr {
      border: 0.155rem solid #333333;
    }
  & .navbar-toggler-icon i {
      color: #f3ff6e;
    }
  & .top-container-icon:hover {
      color: #ffc800;
    }
  & a.article-title:hover {
      color: #ffc800;
    }
  & .page-link {
      color: #333333;
    }
  & .page-item.active .page-link {
      color: #333333;
      background-color: #f3ff6e;
      border-color: #f3ff6e;
    }
}

/***************************************media queries*/

@media (min-width: 376px) {
  #top-right-icons {
    padding-right: 15px;
  }
}

@media (min-width: 576px) {
  .navbar {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .top-container-icon {
    font-size: 1rem;
  }
  .section-intro {
    margin-bottom: 1rem;
  }
  .content-section {
    margin-top: 1em;
  }
  .form-group {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  main {
    margin: .75em 0 .75em 0;
  }
  #site-logo {
    background-size: 210px;
    margin: 2px 0px 2rem 0;
  }
  #top-container {
    margin-bottom: 0;
  }
  #topnav-basket-icon {
    padding-bottom: .75rem;
  }
  #shows-detail-content .card {
    min-height: 19rem;
  }
  #product-detail-content .card {
    min-height: 30rem;
  }
  #shows-detail-content .product-img {
    height: 9.75rem;
  }
  #product-detail-content .product-img {
    min-height: 26rem;
  }
  .nav-link {
    border: 1px solid transparent;
    border-right: transparent;
    border-left: transparent;
  }
  .container {
    width: 100%;
  }
  .social-icon {
    font-size: 2rem;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
  #search-bar {
    position: relative;
    z-index: 0;
    top: 0;
    width: 0;
  }
}

@media (min-width: 1024px) {
  .nav-link {
    padding: .2rem;
  }
}
