body,
html {
  height: 100%;
  background-image: url("/media/bg_images/doodle_red.jpg");
  background-repeat: repeat;
  background-size: 250px;
}

body {
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  z-index: 2;
  position: relative;
}

p {
  padding: 0 .75rem;
}

hr {
  border: 0.155rem solid #E06666;
  border-radius: 100%;
}

main {
  flex: 1 0 auto;
  background-color: #f4f4f4;
  margin: .25em 0 .25em 0;
  padding-bottom: .75em;
}

section {
  background-color: #f4f4f4;
  margin: .25em 0 .25em 0;
  padding-bottom: .75em;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.alert {
  margin-top: 1rem;
}

.container {
  width: 97%;
}

#p-search-bar {
  display: none;
  position: fixed;
  z-index: 1;
  min-width: 70%;
  margin-left: 3rem;
}

#p-search-button {
  
}

#products-special-carousel {
  margin-top: .5em;
}

.carousel-img {
  margin-bottom: 1em;
}

.carousel-info-header {
  font-size: 1.25em;
  color: #fafafa;
}

.carousel-info-description {
  font-weight: 500;
  font-size: 1.1em;
  color: #E1341E;
  background: rgba(255, 255, 255, 0.5);
}

.specials-text {
  color: red;
  padding-top: .5rem;
}

.social-icon {
  color: #444444;
  font-size: 1.5rem;
  padding: 0 1rem 0 1rem;
  transition: color 0.5s ease;
}

.fa-facebook-square:hover {
  color: #3B5998;
}

.fa-twitter-square:hover {
  color: #1DA1F2;
}

.fa-youtube-square:hover {
  color: #E62117;
}

.fa-instagram:hover {
  color: #DD2A7B;
}

.form-inline .form-control {
  width: 100%;
}

#top-container {
  background-color: #f4f4f4;
  padding: .75em 0 .75em 0;
}

.top-container-icon {
  display: inline;
  text-align: center;
  color: #333333;
  font-size: 1.25rem;
  padding: 2px;
}

.top-container-icon:hover {
  color: #E06666;
}

input[type="search"]::-webkit-input-placeholder {
  font-size: .75rem;
}

.nav-item {
  color: #f4f4f4;
}

.nav-item:hover {
  color: #E06666;
}

.nav-link {
  display: inline;
  padding: 0;
}

.navbar {
  width: 97%;
  margin: auto;
  background-color: #333333;
  padding: .75em 0 .75em 0;
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-toggler-icon i {
  color: #E06666;
  font-size: 1.75rem;
}

.site-header .navbar-nav .nav-link {
  color: #f4f4f4;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.breadcrumb {
  font-size: 14px;
  padding: .75em 0 .75em 0;
  margin-bottom: 0;
  background-color: #f4f4f4;
}

.section-intro {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: .5em;
  box-shadow: 2px 2px #888888;
}

.btn {
  margin-top: 1rem;
  width: 100%;
  background-color: #E06666;
  color: #fafafa;
}

.btn:hover {
  background-color: #333333;
  color: #E06666;
}

#cc-location {
  padding-top: 8px;
  font-weight: 500;
  display: inline-block;
}

.cc-info,
#cc-phone {
  font-size: 14px;
  margin: 0;
  display: inline-block;
  text-align: center;
}

#cc-phone {
  padding-bottom: 8px;
}

.article-title {
  color: #444444;
  font-size: 1.25rem;
}

a.article-title:hover {
  color: #428bca;
}

a#product-card {
  color: #444444;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 2px #888888;
  margin: .5em 0;
}

.product-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: -webkit-fill-available;
  height: 14rem;
  margin: .75rem .75rem;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.product-price {
  padding: .5rem 0;
}

.specials-price {
  padding: 0;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  padding-top: .5rem;
  font-size: 1.25rem;
}

.text-secondary {
  font-size: .7rem;
}

#map1,
#map2 {
  height: 14rem;
  display: inline-block;
}

footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #333333;
  width: -webkit-fill-available;
}

footer p {
  color: #EEEEEE;
  padding-top: .75rem;
}

/***************************************media queries*/

@media (min-width: 576px) {
  .navbar {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .section-intro {
    margin-bottom: 1rem;
  }

  .content-section {
    margin-top: .5em;
  }
}

@media (min-width: 992px) {
  main {
    margin: .75em 0 .75em 0;
  }
  .container {
    width: 100%;
  }
  .social-icon {
    font-size: 2rem;
  }
}

/***************************************colour schemes*/
