{% extends 'base.html' %}

{% block content %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
			<li class="breadcrumb-item"><a href="{% url 'get-shows' %}">Upcoming Shows</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ show.artist_name }} @ {{ show.venue }}</li>
		</ol>
	</nav>

	<h2 class="account-heading text-center">Show Details</h2>

	<div class="row">
		<div id="shows-detail-content" class="col-xs-12 col-md-8">
			<article class="panel-body card text-center">
				<div class="row">
					<div class="col-7">
						<div class="product-img" style="background-image: url('{{ MEDIA_URL }}{{ show.artist_image.url }}')"></div>
					</div>
					<div class="col-5 show-info">
						<h5><i class="fa fa-user" aria-hidden="true"></i> {{ show.artist_name }}</h5>
						<h6><i class="fa fa-calendar" aria-hidden="true"></i> {{ show.date }}</h6>
						<h5><i class="fa fa-map-marker" aria-hidden="true"></i> {{ show.venue }}</h5>
					</div>
				</div>
				<p class="article-content">{{ show.description }}</p>
	        </article>
		</div>
		<!-- side section -->
		<aside class="col-xs-12 col-md-4">
			<div class="content-section">
				<div class="row">
					<table class="table ticket-info">
						<tr>
							<th>Tickets:</th>
							<th>Price:</th>
							<th>Qty:</th>
							<th>Total:</th>
						</tr>
						{% for ticket in tickets %}
							<tr>
								{% if show.artist_name == ticket.artist.artist_name %}
									<td><small>{{ ticket.ticket_type }}</small></td>
									<td>
										<form>
											<input type="number" id="qty" name="qty" min="1" max="5">
										</form>
									</td>
									<td><small>£{{ ticket.price }}</small></td>
								{% endif %}
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="form-group">
				<a href="#">
					<button class="btn"><i class="fa fa-shopping-basket" aria-hidden="true"></i> ADD TO BASKET</button>
				</a>
				<a href="{% url 'new-show-post' show.id %}">
					<button class="btn"><i class="fa fa-commenting-o" aria-hidden="true"></i> BLOG ABOUT IT</button>
				</a>
			</div>
		</aside>
	</div>

	<hr>

	<h2 class="account-heading text-center">Venue Details</h2>

	<article class="panel-body card map-container">
		<!-- hide the following map (maps api initMap function will look for them on the page and throw an error if not found) -->
		<div class="d-none" id="map1"></div>
		<div class="d-none" id="map2"></div>
		<div class="d-none" id="map3"></div>

		<!-- show venue locations -->
		{% if show.venue.location_name == 'Fusion Club' %}
			<div id="map4"></div>
			<div class="d-none" id="map5"></div>
			<p id="cc-location" class="cc-info">{{ fusion_club.location_name }}</p>
			<p class="cc-info">{{ fusion_club.street_address1 }}</p>
			<p class="cc-info">{{ fusion_club.town_or_city }}</p>
			<p class="cc-info">{{ fusion_club.postcode }}</p>
			<br>
			<p class="cc-info">{{ fusion_club.location_email }}</p>
			<p id="cc-phone">{{ fusion_club.location_phone }}</p>
		{% elif show.venue.location_name == 'The Bar' %}
			<div id="map5"></div>
			<div class="d-none" id="map4"></div>
			<p id="cc-location" class="cc-info">{{ the_bar.location_name }}</p>
			<p class="cc-info">{{ the_bar.street_address1 }}</p>
			<p class="cc-info">{{ the_bar.town_or_city }}</p>
			<p class="cc-info">{{ the_bar.postcode }}</p>
			<br>
			<p class="cc-info">{{ the_bar.location_email }}</p>
			<p id="cc-phone">{{ the_bar.location_phone }}</p>
		{% endif %}
	</article>

{% endblock %}

{% block g_maps_script %}

	<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ g_maps_api_key }}&callback=initMap"></script>

{% endblock g_maps_script %}