{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="section-intro">Returning Customers</h2>
<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN</button>
		</div>
	</form>
	<p>
		<small class="text-muted">
			Need an account? Click <a href="{% url 'register' %}">here</a>
		</small>
	</p>
	<p>
		<small class="text-muted">
			Forgotten your password? Click <a href="#">here</a>
		</small>
	</p>
</div>
{% endblock %}