{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Profile</li>
	</ol>
</nav>
<p class="section-intro">Your profile page. Edit at will ...</p>
<div class="content-section">
	<div class="media">
		<img class="rounded-circle justify-content-center account-img" src="{{ user.profile.profile_image.url }}">
	</div>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset class="form-group">
			{{ user_update_form|crispy }}
			{{ profile_update_form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE CHANGES</button>
		</div>
	</form>
</div>
{% endblock %}

