{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="section-intro">New Customers</h2>
<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn" type="submit"><i class="fa fa-user-plus" aria-hidden="true"></i> CREATE ACCOUNT</button>
		</div>
	</form>
	<div class="border-top pt-3">
		<small class="text-muted">
			<a href="{% url 'login' %}">Already have an account?</a>
		</small>
	</div>
</div>
{% endblock %}