{% extends 'base.html' %}

{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Blog</li>
		</ol>
	</nav>
	<p class="section-intro">Welcome back, {{ user }}. Catch up on everything music-related from our community, or start a new conversation.</p>
	<div class="row">

		<!-- side section -->
		<aside class="col-xs-12 col-md-4 order-md-12">
			<div class="content-section">
				<form action="{% url 'blog-search' %}">
                    <div class="input-group p-search">
                        <input type="search" name="b-search" class="form-control" placeholder="Search Blog" aria-label="Search">
                        <div class="input-group-append">
                            <button id="b-search-button" class="btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <span class="sr-only">Search</span>
                            </button>
                        </div>
                    </div>
                </form>
                <a href="{% url 'new-post' %}">
                	<button class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> NEW POST</button>
                </a>
			</div>
		</aside>

		<div class="col-xs-12 col-md-8 order-md-1">
			{% for post in posts %}
				<article class="media content-section">
					<img class="rounded-circle article-img" src="{{ post.author.profile.profile_image.url }}">
					<div class="media-body">
						<div class="article-metadata">
							<span id="post-author" class="mr-2">{{ post.author }}</span>
							<small class="text-muted">{{ post.date_created|date:'d F, Y' }}</small>
						</div>
						<h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
						<p class="article-content">{{ post.content }}</p>
					</div>
				</article>

			<!-- if nothing is returned from search -->
			{% empty %}
				<p class="section-intro">No results found.</p>
			{% endfor %}

			{% if searched %}
				<div>
					<p class="section-intro"><a href="{% url 'blog-home' %}"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Back to Blog</a></p>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}