{% extends 'base.html' %}

{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Blog</li>
		</ol>
	</nav>
	<p class="section-intro">Welcome, {{ user }}. Catch up on everything music-related from our community, or start a new conversation.</p>
	<div class="row">

		<!-- side section -->
		<aside class="col-xs-12 col-md-4 order-md-12">
			<div class="content-section">
				<form action="{% url 'blog-search' %}">
                    <div class="input-group p-search">
                        <input type="search" name="b-search" class="form-control" placeholder="Search Blog" aria-label="Search">
                        <div class="input-group-append">
                            <button id="b-search-button" class="btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <span class="sr-only">Search</span>
                            </button>
                        </div>
                    </div>
                </form>
                <a href="{% url 'new-post' %}">
                	<button class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> NEW POST</button>
                </a>
			</div>
		</aside>

		<div class="col-xs-12 col-md-8 order-md-1">
			{% for post in page.object_list %}
			<a href="{% url 'post-detail' post.id %}">
				<article class="media content-section">
					<img class="rounded-circle article-img" src="{{ post.author.profile.profile_image.url }}" alt="Profile image">
					<div class="media-body">
						<div class="article-metadata">
							<span id="post-author" class="mr-2">{{ post.author }}</span>
							<small class="text-muted">{{ post.date_created|date:'d F, Y' }}</small>
						</div>
						<hr>
						{% if post.product %}
							<h2 class="article-title">
								<i class="fa fa-music" aria-hidden="true"></i> 
								{{ post.title }} ({{ post.product.name }})
							</h2>
						{% elif post.show %}
							<h2 class="article-title">
								<i class="fa fa-ticket" aria-hidden="true"></i> 
								{{ post.title }} ({{ post.show.artist_name }} @ {{ post.show.venue.location_name }})
							</h2>
						{% else %}
							<h2 class="article-title">
								<i class="fa fa-newspaper-o" aria-hidden="true"></i> 
								{{ post.title }}
							</h2>
						{% endif %}
						
					</div>
				</article>
			</a>

			<!-- if nothing is returned from search -->
			{% empty %}
				<p class="section-intro">No results found for "{{ searched_str }}".</p>
			{% endfor %}

			{% if searched_str %}
				<div>
					<p class="section-intro"><a href="{% url 'blog-home' %}"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Back to Blog</a></p>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block blog_pagination %}
<nav aria-label="...">
	<ul class="pagination justify-content-center mb-2">
		<li class="page-item {% if not previous_url %} disabled {% endif %}">
			<a class="page-link" href="{{ previous_url }}" tabindex="-1" aria-disabled="true">Previous</a>
		</li>

		{% for num in page.paginator.page_range %}
			{% if page.number == num %}
				<li class="page-item active" aria-current="page">
					<a class="page-link" href="?page={{ num }}">
						{{ num }} <span class="sr-only">(current)</span>
					</a>
				</li>
			{% elif num > page.number|add:-3 and num < page.number|add:3 %}
				<li class="page-item">
					<a class="page-link" href="?page={{ num }}">{{ num }}</a>
				</li>
			{% endif %}
		{% endfor %}

		<li class="page-item {% if not next_url %} disabled {% endif %}">
			<a class="page-link" href="{{ next_url }}">Next</a>
		</li>
	</ul>
</nav>
{% endblock blog_pagination %}
