{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
			<li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Blog</a></li>
			<li class="breadcrumb-item"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">Edit Post</li>
		</ol>
	</nav>
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<div class="form-group text-center">
			<button class="btn" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE CHANGES</button>
		</div>
	</form>
{% endblock %}