{% extends 'base.html' %}

{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Blog</li>
		</ol>
	</nav>
	<p class="section-intro">Welcome back, {{ user }}. Catch up on everything music-related from our community, or start a new conversation.</p>
	<div class="row">

		<!-- mobile layout for side section -->
		<div class="col-md-4 d-md-none">
			<div class="content-section">
				<form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Blog" aria-label="Search">
                </form>
                <button class="btn" type="submit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> NEW POST</button>
			</div>
		</div>
		<!-- mobile layout for side section end -->

		<div class="col-md-8">
			{% for post in posts %}
				<article class="media content-section">
					<img class="rounded-circle article-img" src="{{ post.author.profile.profile_image.url }}">
					<div class="media-body">
						<div class="article-metadata">
							<a class="mr-2" href="{% url 'profile' %}">{{ post.author }}</a>
							<small class="text-muted">{{ post.date_created|date:'d F, Y' }}</small>
						</div>
						<h2><a class="article-title" href="#">{{ post.title }}</a></h2>
						<p class="article-content">{{ post.content }}</p>
					</div>
				</article>
			{% endfor %}
		</div>

		<!-- desktop layout for side section -->
		<div class="col-md-4 d-none d-md-block">
			<div class="content-section">
				<form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Blog" aria-label="Search">
                </form>
                <button class="btn" type="submit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> NEW POST</button>
			</div>
		</div>
		<!-- desktop layout for side section end -->

	</div>
{% endblock %}