{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
			{% if product.name %}
				<li class="breadcrumb-item"><a href="{% url 'categories' %}">Categories</a></li>
				<li class="breadcrumb-item"><a href="{% url 'category-products' product.category_name.id %}">{{ product.category_name }}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'product-detail' product.id %}">{{ product.name }}</a></li>
				<li class="breadcrumb-item active" aria-current="page">New Product Post</li>
			{% elif show.artist_name %}
				<li class="breadcrumb-item"><a href="{% url 'get-shows' %}">Shows</a></li>
				<li class="breadcrumb-item"><a href="{% url 'show-details' show.id %}">{{ show.artist_name }} @ {{ show.venue.location_name }}</a></li>
				<li class="breadcrumb-item active" aria-current="page">New Show Post</li>
			{% else %}
				<li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Blog</a></li>
				<li class="breadcrumb-item active" aria-current="page">New Post</li>
			{% endif %}
		</ol>
	</nav>
	{% if product.name %}
		<p class="section-intro">New Blog Post about the product "{{ product.name }}"</p>
	{% elif show.artist_name %}
		<p class="section-intro">New Blog Post about the show "{{ show.artist_name }} @ {{ show.venue.location_name }}"</p>
	{% endif %}
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<div class="form-group text-center">
			<button class="btn" type="submit"><i class="fa fa-share-square-o" aria-hidden="true"></i> POST</button>
		</div>
	</form>
{% endblock %}