{% extends 'base.html' %}

{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
			<li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Blog</a></li>
			{% if post.product %}
				<li class="breadcrumb-item active" aria-current="page">{{ post.title }} ({{ post.product.name }})</li>
			{% else %}
				<li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
			{% endif %}
		</ol>
	</nav>
	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ post.author.profile.profile_image.url }}">
		<div class="media-body">
			<div class="article-metadata">
				<span id="post-author" class="mr-2">{{ post.author }}</span>
				<small class="text-muted">{{ post.date_created|date:'d F, Y' }}</small>
			</div>
			{% if post.product %}
				<h4 class="post-detail-title">{{ post.title }}: 
					<a href="{% url 'product-detail' post.product.id %}"> 
						({{ post.product.name }})
					</a>
				</h4>
			{% elif post.show %}
				<h4 class="post-detail-title">{{ post.title }}: 
					<a href="{% url 'show-details' post.show.id %}">
						({{ post.show.artist_name }} @ {{ post.show.venue.location_name }})
					</a>
				</h4>
			{% else %}
				<h4>{{ post.title }}</h4>
			{% endif %}
			<p class="article-content">{{ post.content }}</p>
		</div>
	</article>
	{% if request.user == post.author %}
		<div class="form-group text-center">
			<a href="{% url 'edit-post' post.id %}">
				<button class="btn blog-buttons"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> EDIT POST</button>
			</a>
			<a href="{% url 'delete-request' post.id %}">
				<button class="btn blog-buttons"><i class="fa fa-trash" aria-hidden="true"></i> DELETE POST</button>
			</a>
		</div>
	{% endif %}
{% endblock %}