{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
		</ol>
	</nav>

	<p class="section-intro">Feel free to contact us by either filling in the form, or writing to us:</p>

	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<div class="form-group">
			<button class="btn" type="submit"><i class="fa fa-share-square-o" aria-hidden="true"></i> SEND</button>
		</div>
	</form>
	<hr>
	<article class="panel-body card">
		<div id="map3"></div>
		
		<!-- hide the following maps (maps api initMap function will look for them on the page and throw an error if not found) -->
		<div class="d-none" id="map2"></div>
		<div class="d-none" id="map1"></div>

		<p id="cc-location" class="cc-info">{{ our_office.location_name }}</p>
		<p class="cc-info">{{ our_office.street_address1 }}</p>
		<p class="cc-info">{{ our_office.town_or_city }}</p>
		<p class="cc-info">{{ our_office.postcode }}</p>
		<br>
		<p class="cc-info">{{ our_office.location_email }}</p>
		<p id="cc-phone">{{ our_office.location_phone }}</p>
	</article>

{% endblock %}

{% block g_maps_script %}

	<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ g_maps_api_key }}&callback=initMap"></script>

{% endblock g_maps_script %}
