{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'categories' %}">Categories</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ category_name }}</li>
	</ol>
</nav>

<div class="panel-body card text-center">
	<div class="product-img" style="background-image: url('{{ MEDIA_URL }}{{ category_image }}')"></div>
</div>

<hr>

{% if page.object_list %}
	<div class="dropdown">
		<a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Sort By
		</a>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a id="sort-low-high" class="dropdown-item" href="{% url 'category-products' category_id %}?sort=price&direction=asc">Price: Lowest to highest</a>
			<a id="sort-high-low" class="dropdown-item" href="{% url 'category-products' category_id %}?sort=price&direction=desc">Price: Highest to lowest</a>
		</div>
	</div>
{% endif %}

<h2 class="account-heading text-center">All {{ category_name }} Products</h2>
<div class="row">
	{% for product in page.object_list %}
	<div class="col-xs-12 col-md-6 col-lg-3">
		<a id="product-card" href="{% url 'product-detail' product.id %}">
			<div class="panel-body card text-center">
				<div class="img-container">
					<div class="product-img" style="background-image: url('{{ MEDIA_URL }}{{ product.image.url }}')"></div>
				</div>
	            <h3>{{ product.name }}</h3>
	            {% if product.id == 1 or product.id == 2 %}
	            	<span class="specials-text">Was</span> <del><h3 class="specials-price">£150.00</h3></del> <span class="specials-text">Now</span> <ins><h3 class="specials-price">£{{ product.price }}</h3></ins>
	            {% elif product.id == 3 %}
	            	<span class="specials-text">Was</span><del><h3 class="specials-price">£300.00</h3></del> <span class="specials-text">Now</span> <ins><h3 class="specials-price">£{{ product.price }}</h3></ins>
	            {% else %}
	            	<h3 class="product-price">£{{ product.price }}</h3>
	            {% endif %}
	        </div>
        </a>
	</div>
	{% endfor %}
</div>

{% block products_pagination %}
<nav aria-label="...">
	<ul class="pagination justify-content-center">
		<li class="page-item {% if not previous_url %} disabled {% endif %}">
			<a class="page-link" href="{{ previous_url }}" tabindex="-1" aria-disabled="true">Previous</a>
		</li>

		{% for num in page.paginator.page_range %}
			{% if page.number == num %}
				<li class="page-item active" aria-current="page">
					<a class="page-link" href="?page={{ num }}">
						{{ num }} <span class="sr-only">(current)</span>
					</a>
				</li>
			{% elif num > page.number|add:-3 and num < page.number|add:3 %}
				<li class="page-item">
					<a class="page-link" href="?page={{ num }}">{{ num }}</a>
				</li>
			{% endif %}
		{% endfor %}

		<li class="page-item {% if not next_url %} disabled {% endif %}">
			<a class="page-link" href="{{ next_url }}">Next</a>
		</li>
	</ul>
</nav>
{% endblock products_pagination %}

{% endblock %}
