{% extends 'base.html' %}

{% block content %}
<div class="media row">
	{% if user.is_authenticated %}
	<div class="col-xs-12 col-md-12">
	{% else %}
	<div class="col-xs-12 col-md-8">
	{% endif %}
		<div id="products-special-carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#products-special-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#products-special-carousel" data-slide-to="1"></li>
				<li data-target="#products-special-carousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<a href="{% url 'product-detail' 1 %}">
						<img src="/media/slide_images/slide_1.jpg" class="d-block w-100 carousel-img" alt="Special Deals item 1">
					</a>
				</div>
				<div class="carousel-item">
					<a href="{% url 'product-detail' 2 %}">
						<img src="/media/slide_images/slide_2.jpg" class="d-block w-100 carousel-img" alt="Special Deals item 2">
					</a>
				</div>
				<div class="carousel-item">
					<a href="{% url 'product-detail' 3 %}">
						<img src="/media/slide_images/slide_3.jpg" class="d-block w-100 carousel-img" alt="Special Deals item 3">
					</a>
				</div>
			</div>
			<a class="carousel-control-prev" href="#products-special-carousel" role="button" data-slide="prev">
				<span id="carousel-previous"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#products-special-carousel" role="button" data-slide="next">
				<span id="carousel-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	{% if not user.is_authenticated %}
	<div class="col-xs-12 col-md-4">
		<div class="row">
			<div class="col-12">
				<div class="content-section">
					<p class="section-intro">Join our growing community 
						<a href="{% url 'register' %}">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>Blog
						</a>
						, and unlock ticket deals for selected upcoming shows.
					</p>
					<a href="{% url 'register' %}">
						<button class="btn"><i class="fa fa-user-plus" aria-hidden="true"></i> SIGN UP NOW</button>
					</a>
				</div>
			</div>
			<div class="col-12">
				<div class="content-section">
					<p class="section-intro">New 
						<a href="{% url 'register' %}">
							<i class="fa fa-comments-o" aria-hidden="true"></i>Chat 
						</a>
						feature just added! Chat away with your online friends with this new, easy-to-use feature!
					</p>
					<a href="{% url 'register' %}">
						<button class="btn"><i class="fa fa-user-plus" aria-hidden="true"></i> SIGN UP NOW</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>

<hr>

{% if page.object_list %}
	<div class="dropdown">
		<a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Sort By
		</a>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a id="sort-low-high" class="dropdown-item" href="{% url 'products-home' %}?sort=price&direction=asc">Price: Lowest to highest</a>
			<a id="sort-high-low" class="dropdown-item" href="{% url 'products-home' %}?sort=price&direction=desc">Price: Highest to lowest</a>
		</div>
	</div>
{% endif %}

<h2 class="account-heading text-center">All Products</h2>
<div class="row">
	{% for product in page.object_list %}
		<div class="col-xs-12 col-md-6 col-lg-3">
			<a id="product-card" href="{% url 'product-detail' product.id %}">
				<div class="panel-body card text-center">
					<div class="img-container">
		            	<div class="product-img" style="background-image: url('{{ MEDIA_URL }}{{ product.image.url }}')"></div>
		            </div>
		            <h4 class="product-name">{{ product.name }}</h4>
		            {% if product.id == 1 or product.id == 2 %}
		            	<del><h4 class="product-price">£150</h4></del> <ins><h4 class="product-price">£{{ product.price }}</h4></ins>
		            {% elif product.id == 3 %}
		            	<del><h4 class="product-price">£300</h4></del> <ins><h4 class="product-price">£{{ product.price }}</h4></ins>
		            {% else %}
		            	<h4 class="product-price">£{{ product.price }}</h4>
		            {% endif %}
		        </div>
	        </a>
		</div>

	<!-- if nothing is returned from search -->
	{% empty %}
		<p class="section-intro text-center">No results found for "{{ searched_str }}".</p>
	{% endfor %}

	{% if searched_str %}
	<div>
		<p class="section-intro text-center"><a href="{% url 'products-home' %}"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Back to all Products</a></p>
	</div>
	{% endif %}
</div>

{% block products_pagination %}
{% if page.object_list %}
	<nav aria-label="...">
		<ul class="pagination justify-content-center">
			<li class="page-item {% if not previous_url %} disabled {% endif %}">
				<a class="page-link" href="{{ previous_url }}" tabindex="-1" aria-disabled="true">Previous</a>
			</li>

			{% for num in page.paginator.page_range %}
				{% if page.number == num %}
					<li class="page-item active" aria-current="page">
						<a class="page-link" href="?page={{ num }}">
							{{ num }} <span class="sr-only">(current)</span>
						</a>
					</li>
				{% elif num > page.number|add:-3 and num < page.number|add:3 %}
					<li class="page-item">
						<a class="page-link" href="?page={{ num }}">{{ num }}</a>
					</li>
				{% endif %}
			{% endfor %}

			<li class="page-item {% if not next_url %} disabled {% endif %}">
				<a class="page-link" href="{{ next_url }}">Next</a>
			</li>
		</ul>
	</nav>
{% endif %}
{% endblock products_pagination %}

<hr>

<div id="about-us" class="media">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="account-heading text-center">About Us</h2>
			<p class="section-intro">Music'n'More was founded by Adrian Havenga-Bennett in 2020 with a view of providing our customers with an immersive musical experience. The idea is to bring together fans of all genres and ages, from drummers to guitarists, from djs to bassists, from those who want to learn an instrument to those who have years of experience.</p>
			<p class="section-intro">Joining our community will unlock the ability to chat to all sorts of music lovers and creators about anything you wish, from 50s to 90s, Electronic to Punk Rock, or Pop to Metal! Our Chat feature has the chatroom for you (like to see a particular chatroom? No problem, give us a shout and we'll coinsider adding it!).</p>
			<p class="section-intro">Start a blog about a product or a show, or just anything in general. Experienced musicians might start an advice blog. Avid giggers can get a group together to see some of the shows we offer our users at discount ticket prices.</p> 
			<p class="section-intro">Start or continue your musical journey with us!</p>
			<div class="row justify-content-md-center">
				<div class="col col-xs-2"></div>
				<div class="col-xs-auto">
					<a href="https://www.facebook.com/" target="_blank">
						<i class="fa fa-facebook-square social-icon" aria-hidden="true"></i>
					</a>

					<a href="https://twitter.com/" target="_blank">
						<i class="fa fa-twitter-square social-icon" aria-hidden="true"></i>
					</a>

					<a href="https://www.youtube.com/" target="_blank">
						<i class="fa fa-youtube-square social-icon" aria-hidden="true"></i>
					</a>

					<a href="https://www.instagram.com/" target="_blank">
						<i class="fa fa-instagram social-icon" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col col-xs-2"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
