{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'products-home' %}">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Click&Collect</li>
	</ol>
</nav>

<p class="section-intro">We offer a free click and collect service from the following locations:</p>

<div class="row">
	<div class="col-xs-6">
		<article class="panel-body card map">
			<!-- Google Map here -->
		</article>
	</div>
	<div class="col-xs-6">
		{% for location in locations %}
		<article class="panel-body card">
			<p id="cc-location" class="cc-info">{{ location.location_name }}</p>
			<br>
			<p class="cc-info">{{ location.street_address1 }}</p>
			<p class="cc-info">{{ location.town_or_city }}</p>
			<p class="cc-info">{{ location.postcode }}</p>
			<br>
			<p class="cc-info">{{ location.location_email }}</p>
			<br>
			<p class="cc-info">{{ location.location_phone }}</p>
		</article>
		{% endfor %}
	</div>
</div>

{% endblock %}